body {
    margin: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.pg-header {
    height: 48px;
    min-width: 1190px;
    background-color: #204d74;
    line-height: 48px;

}

.menus {
    width: 200px;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 48px;
    border-right: 1px solid #dddddd;
    background-color: #dddddd;
}

.content {
    position: absolute;
    left: 200px;
    right: 0;
    top: 48px;
    bottom: 0;
    overflow: scroll;
    min-width: 990px;

    z-index: 99;

}

.pg-header .rmenus .userss:hover .userinfo {


display: block;

;

}
.pg-header .logo {
    color: white;
    font-size: 18px;
    width: 200px;
    text-align: center;
    border-right: 1px solid #8a6d3b;
}

.pg-header .rmenus a {
    display: inline-block;
    padding: 0 18px;
    color: white;
}

.pg-header .rmenus a:hover {
    background-color: #adadad;
}

.userss {
    height: 48px;
    width: 78px;

}

.userss .uuu {
    margin: 10px auto;
    margin-left: 0px;
}

.uuu:hover {
    background-color: #adadad;
}

.pg-header .rmenus .userinfo {
    position: absolute;
    width: 200px;
    top: 48px;
    right: 19px;
    z-index: 100;
    background-color: white;
    border: 1px solid #dddddd;
    display: none;
}

.pg-header .rmenus .userinfo a {
    display: block;
    padding: 5px;
    color: #2e6da4;
}

.hide {
    display: none;
}


.pg-body .menus a {
    display: block;
    padding: 10px 5px;
    font-size: 22px;
    border-bottom: 1px solid white;
}